<link rel="stylesheet" href="../css/styles.css">
<section id="app-section">
    <div class="up-app-div">
        <img class="image" src="../{{app.image}}" alt="">
        <div class="app-name-description">
            <h2>{{app.name}}</h2>
            <p>{{app.description}}</p>
        </div>
    </div>
    <h1 class="about">Sobre o App</h1>
    <p class="about">{{app.about}}</p>
    
</section>