{{!-- {{#each apps}}
   <h1>{{this.name}}</h1>
{{/each}} --}}
<section id="apps-section">
    {{#eachLimit apps 10}}
       <a class="apps" href="">
            <div class="logo"><img src={{this.image}} alt=""></div>
            <h2>{{this.name}}</h2>
            <svg viewBox="0 0 24 24" height="20" width="20" aria-hidden="true" focusable="false" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="StyledIconBase-sc-ea9ulj-0 ebjPRL"><path fill="none" d="M0 0h24v24H0z"></path><path d="M3 19h18v2H3v-2zm10-5.828L19.071 7.1l1.414 1.414L12 17 3.515 8.515 4.929 7.1 11 13.17V2h2v11.172z"></path></svg>
       </a>
       
    {{/eachLimit}}
</section>

