*{
    margin: 0;
    color: white;
}

body{
    background-color: #18191a;
}

header{
    background-color: #242526;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

#apps-section, #app-section{
    width: 70%;
    background-color: #ffffff1e;
    min-height: 700px;
    border-radius: 10px;
}

#apps-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#app-section{

}

.up-app-div{
    gap: 2em;
    display: flex;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.apps{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 1em;
}

a{
    text-decoration: none;
}
form{
    display: inline;
    margin-left: 4%;
    border-radius: 10px;
}
form input{
    color: #18191a;
}
.image{
    width: 136px;
    height: 136px;
    border-radius: 2em;
}

p{
    font-size: 1.2rem;
}

.about{
    margin-top: 2em;
}